@model IEnumerable<Report_PricingRange.Models.ReportTemplateModel>

@{
    ViewBag.Title = "VehicleDrillDown";
}

<h2>VehicleDrillDown</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BreakDownLevel1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BreakDownLevel2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BreakDownLevel3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BreakDownLevel4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportEndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BreakDownLevel1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BreakDownLevel2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BreakDownLevel3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BreakDownLevel4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportEndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
